<% if @commentable.class == Answer %>
        <div>
             <%= @commentable.content %>
        </div>
        <br>
<% else %>
        <h1><%=  @commentable.title%></h1>
        <br>
        <div>
             <%= @commentable.content %>
        </div>
        <br>
<% end %>



<h3>Enter your comment</h3>
<%= render "form" %>

<%= link_to 'Back', question_path(@question) %>
